<section class="row">
  <article class="column">
    <h3 class="title is-3">All promo Codes</h2>
    <div class="list is-hoverable">
      <%= for promo_code <- @promo_codes do %>
        <%= link promo_code.code, to: Routes.promo_code_path(@conn, :view, promo_code.code), class: "navbar-item" %>
      <% end %>
    </div>
  </article>
</section>
